@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  background-color: #fff6ff;
  color: #fff6ff;
}

.container {
  width: 100%;
  height: 100vh;
  padding: 100px;
}

.app {
  display: flex;
  flex-direction: column;
  width: 400px;
  min-height: 600px;
  background-color: #2b2730;
  margin: auto;
  border-radius: 10px;
  padding: 10px;
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70px;
}
h3 {
  font-size: 2rem;
  color: tomato;
}

.input-container {
  height: 30px;
}

.input {
  width: 80%;
  height: 100%;
  outline: none;
  border-radius: 25px;
  padding: 0 10px 0 10px;
  font-size: 1.1rem;
  font-weight: bold;
  color: #4b4453;
  border: none;
}

form {
  display: flex;
  height: 100%;
}

.submit {
  width: 20%;
  border-radius: 25px;
  outline: none;
  border: none;
  cursor: pointer;
  margin-left: 5px;
  font-size: 1rem;
  font-weight: bold;
  color: tomato;
  background-color: #fff6ff;
}

.list {
  height: 85%;
  margin-top: 10px;
}

.item {
  display: flex;
  align-items: center;
  min-height: 40px;
  padding: 2px;
  border-radius: 5px;
}

.dragging {
  background-color: pink;
}

.dot {
  width: 8px;
  height: 8px;
  background-color: lime;
  margin-right: 10px;
  border-radius: 50px;
  box-shadow: 0 0 10px 2px rgba(0, 255, 0, 0.253);
}

.dot-checked {
  background-color: rgba(255, 255, 255, 0.459);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.418);
}

.todo {
  display: flex;
  align-items: center;
  flex: 1;
  color: rgb(238, 217, 30);
  min-height: 40px;
  padding: 5px;
  overflow: hidden;
  cursor: move;
  text-shadow: 0px 0px 10px rgba(255, 255, 0, 0.479);
}

.checked {
  text-decoration: line-through;
  color: rgba(255, 255, 255, 0.459);
}

i {
  cursor: pointer;
  margin: 0 5px;
}

.check-icon {
  color: lime;
}

.delete-icon {
  color: red;
}

.active {
  background-color: #cec0df7c;
}

@media screen and (max-width: 768px) {
  .container {
    padding: 0;
  }
  .app {
    width: 100%;
    height: 100vh;
    border-radius: 0;
  }
}
